html, body {
  font-family: 'Amiri', serif;
  background:white;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  color:#0000ff;
}

svg {
  flex: 3;
  /* background: white; */
  display: block;
  /* margin: 0 auto; */
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px;
    margin-top: 9px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    color: blue;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-image: url("./assets/icons/drop.png");   
}

.wrapper {
  display: flex;
}

.nodes path {
  stroke-width: 2px;
  stroke: white;
  cursor: pointer;
}


svg text {
  font-family: "Roboto Mono";
  /* font-family: "Arial";
  font-family: 'Work Sans', sans-serif; */
  font-size: 10px;
  fill: black;
  cursor: pointer;
}


#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.85rem;
  /* display: none; */
}

#intro h2 {
  margin-top: 0;
}

.bold {
font-weight: 900;
}

.sidebar {
/* padding: 0 20px; */
}

.tooltip {
background-color: transparent;
font-family: "Roboto Mono";
font-size: 10px;
padding: 10px 20px 0 20px;
line-height: 1.5;
pointer-events: none;
width: 225px;
}

.tooltip-info {
text-align: left;
background:#fff;
}

.tooltip-info-inner {
}

.tooltip-name {
text-transform: uppercase;
color: #0000ff;
}

.tooltip-img {
width: 225px; /*(45%, 50% -> 250px)*/
height: auto;
}

.legend {
display: none; /* show/hide discipline legend to switch  */
}

.legend, .legend-links {
font-family: "Roboto Mono";
font-size: 10px;
margin-bottom: 25px;
}

.legendItem {
display: flex;
align-items: center;
cursor: pointer;
text-transform: uppercase;
height: 20px;
}

.legendItem-active {
color: #0000ff;
font-style: italic;
}

.legendItemLinks {
display: flex;
align-items: center;
cursor: pointer;
text-transform: uppercase;
height: 20px;
}

.legendSymbol {
width: 20px;
height: 20px;
}

.legendSymbol path {
stroke-width: 2px;
stroke: white;
}

.legendTypeItem {
background: red;
width: 20px;
height: 3px;
margin-right: 5px;
}

select{
font-family: "Roboto Mono";
font-size: 10px;
} 

.legend-heading {
font-family: "Roboto Mono";
font-size: 10px;
}

.label {
display: none;
}

.btn-mode {
position: absolute;
bottom: 40px;
left: 40px;
cursor: pointer;
font-family: 'Work Sans', sans-serif;
font-size: 0.85rem;
display: flex;
justify-content: center;
align-items: center;
display: none; /* show/hide button to switch  */

}

.btn-mode-symbol {
background: black;
width: 10px;
height: 10px;
border-radius: 1000px;
margin-right: 5px;
}